doctype html
head
  title User Profile Design
  link(rel='stylesheet' href='/stylesheets/home.css')
  script(src='https://kit.fontawesome.com/233056fb74.js' crossorigin='anonymous')
// Side navigation
.sidenav
  // try to get  png symbol here
  a(href='/catalog/home') Feed
  a(href='/catalog/profile') My Profile
  a(href='/catalog/home/create') Make a Post
  a(href='/catalog/userlist') Find People
  a(href='/catalog/logout') Log out
if(post_list.length == 0)
    .profile(style = 'height: 700px')
      .title
        h1
        | Feed
else        
    .profile
      .image-container
        .title
          h2
            | Feed
      .main

        hr
        // Start div for posts
        each element in post_list
            if(element.song.path == null)
                .post-card
                  .header
                    .detail
                    .profile-pic
                        img(src= element.user.img.path)
                    h4.name
                        | #{element.user.name}
                    .content
                        | #{element.content}
                    .footer
                      .like
                        form(method='POST' action='/catalog/home/like')
                            button.btn.btn-primary(type='submit' value=element._id name="action") 
                                i.fas.fa-heart
                                |  #{element.likes}
                      .comment
                        form(method='POST' action='/catalog/home/comment')
                                button.btn.btn-primary(type='submit' value=element._id name="action")
                                    i.fas.fa-comment
                                    |  #{element.comments.length}
                hr
            else    
                .post-card
                  .header
                    .detail
                    .profile-pic
                        img(src= element.user.img.path)
                    h4.name
                        | #{element.user.name}
                    .content
                        | #{element.content}
                    audio(src= element.song.path, controls type='audio/mpeg')    
                    .footer
                      .like
                        form(method='POST' action='/catalog/home/like')
                            button.btn.btn-primary(type='submit' value=element._id name="action") 
                                i.fas.fa-heart
                                |  #{element.likes}
                      .comment
                        form(method='POST' action='/catalog/home/comment')
                                button.btn.btn-primary(type='submit' value=element._id name="action")
                                    i.fas.fa-comment
                                    |  #{element.comments.length}
                hr    


